@charset "utf-8";

* { margin: 0; color:inherit;
    /* scroll-behavior: smooth; */
    font-family: "Noto Sans JP", sans-serif; font-weight: 500; 
    transition: 0.3s; }
    
/* navigation */
/* 
.quick_menu {
    z-index: 99;

    justify-content: center;
    padding: 0;
    width: 96%;

    font-size: 0.9rem;
    background-color: rgb(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);

    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0 0 10px 10px;
}

.quick_menu > li {
    list-style: none;
    display: inline-block;
}

.quick_menu > li > a {
    display: block;
    text-decoration: none;
    font-weight: 800;
    padding: 13px 15px;
    font-size: 0.8rem;
    color:#000;
}

.quick_menu > li.active a {color: #00963D;} */

.flex { display: flex;}
.grid { display: grid;}
.column { flex-direction: column; }

h3 {
    font-weight: 900;
    font-size: 17px;
    color: #fff;
}

h2 {
    font-weight: 900;
    font-size: 19px;
    margin-bottom: 5px;
}

.sub_title {
    color: #00963D;
    font-size: 17px;
}

section {
    flex-direction: column;
    /* gap: 15vw; */
}

ul {
    padding-left: 12px;
}

li {
    word-break:normal;
    font-size: 14px;
}

li::marker {
    content: "•  ";
    font-size: 14px;
}

table {
    font-size: 13px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;

    background-color: #fff;
    border-radius: 10px;
}

table th {
    width: 45px;
    text-align: right;
    padding-right: 10px;
    font-weight: 800;
    color: #9DB509;
}

table td {
    text-align: left;
}

/* top */

.sec1 {
    padding: 25% 0;
}

.sec1 .coffilm {
    margin: 60px 0;
}

.sec1 .top {
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.sec1 .top .awards {
    justify-content: space-evenly;
}

.sec1 .top .logo {
    margin: 0 0 0 2vw;
    width: 70%;
}

.sec1 .top .awards img {
    width: 30%;
}


/* coffilm */

.sec1 .coffilm {
    gap: 10vw;
    text-align: left;
}

.sec1 .coffilm div {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.sec1 .coffilm div span {
    padding-left: 10px;
}

.sec1 .coffilm div img {
    width: 70%;
}

.sec1 .coffilm .cof_rel{
    position: relative;
}

.sec1 .coffilm .cof_1 div::before {
    content: "";
    background: url(./images/coffilm_1.svg) no-repeat center center;
    position: absolute;
    background-size: cover;
    bottom: 0; right: 0;
    width: 40vw; height: 40vw;
}

.sec1 .coffilm .cof_2 div::before {
    content: "";
    background: url(./images/coffilm_2.svg) no-repeat center center;
    position: absolute;
    background-size: cover;
    bottom: 0; right: 0;
    width: 40vw; height: 40vw;
}

.sec1 .coffilm .cof_3 div::before {
    content: "";
    background: url(./images/coffilm_3.svg) no-repeat center center;
    position: absolute;
    background-size: cover;
    bottom: 0; right: 0;
    width: 40vw; height: 40vw;
}

.sec1 .coffilm .cof_4 div::before {
    content: "";
    background: url(./images/coffilm_4.svg) no-repeat center center;
    position: absolute;
    background-size: cover;
    bottom: 0; right: 0;
    width: 40vw; height: 40vw;
}



/* bottom */

.sec1 .bottom {
    flex-direction: column;
    gap: 7vw;
}
.sec1 .bottom .paper h3 {
    padding-bottom: 10px;
}
.sec1 .bottom .paper img {
    display: block; margin-left: auto; margin-right: auto;
    padding: 5vw 0;
    width: 90%;
}
.sec1 .bottom .recycle img {
    display: block; margin-left: auto; margin-right: auto;
    padding: 5vw 0 3vw;
    width: 90%;
}


/* sec2 */

.sec2 {
    /* background-color: #00963D; */
    height: 100vh;
    margin-top: 30px;
    padding: 15% 0;
}

.sec3 {
    height: 100vh;
    margin-top: 30px;
    padding: 15% 0;
}

.sec4 {
    height: 100vh;
    margin-top: 30px;
    padding: 15% 0;
}


/* break point */

@media (min-width: 600px) {
    .sec1 {
        padding: 20% 7% 10%;
    }
    .sec1 .coffilm {
        gap: 10vw;
    }

    .sec1 .coffilm div {
        padding-bottom: 2vw;
    }

    .sec1 .coffilm .cof_1 div::before {
        bottom: -6vw;

    }
    .sec1 .coffilm .cof_2 div::before {
        bottom: -6vw;

    }
    .sec1 .coffilm .cof_3 div::before {
        bottom: -6vw;

    }
    .sec1 .coffilm .cof_4 div::before {
        bottom: -6vw;
    }

    li {
        font-size: 1rem;
    }

    .quick_menu {
        justify-content: space-evenly;
        width: 80%;
        top:20px;
        font-size: 1rem;
        border-radius: 10px;    
    }
    .quick_menu li a {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .sec1 {
        padding: 20% 10% 10%;
        gap: 80px;
    }
    .sec1 .coffilm {
        gap: 13vw;
        margin: 80px 0;
    }
    .sec1 .coffilm div {
        justify-content: space-between;
    }
    .sec1 .coffilm .cof_rel::before {
        width: 30vw; height: 30vw;
    }
    .sec1 .coffilm div img {
        width: 40%;
    }

    .sec1 .bottom {
        padding: 0 8%;
    }

    .sub_title {
        font-size: 1.3rem;
    }

    .quick_menu {
        justify-content: space-evenly;
    }
    .quick_menu li a {
        font-size: 1em;
    }
}


@media (min-width: 981px) {
    .sec1 { padding: 10% 0 10%; gap: 50px; }
    .sec1 .coffilm {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3vw;
    }
    .sec1 .coffilm div {
        flex-direction: column;
        justify-content: end;
        padding-bottom: 0;
        height: 250px;
    }
    .sec1 .coffilm div div {
        justify-content: space-between;
    }
    .sec1 .coffilm .cof_1 div::before {
        width: 20vw; height: 20vw;
        bottom: 0;
    }
    .sec1 .coffilm .cof_2 div::before {
        width: 20vw; height: 20vw;
        bottom: 0;
    }
    .sec1 .coffilm .cof_3 div::before {
        width: 20vw; height: 20vw;
        bottom: 0;
    }
    .sec1 .coffilm .cof_4 div::before {
        width: 20vw; height: 20vw;
        bottom: 0;
    }

    .sec1 .bottom {
        flex-direction: row;
    }
    .sec1 .bottom .paper {
        width: 50%;
    }
    .sec1 .bottom .recycle {
        width: 50%;
    }
    .sec1 .bottom .paper img {
        width: 85%;
    }
    .sec1 .bottom .recycle img {
        width: 85%;
    }
    li {
        font-size: 0.9rem;
    }
}

@media (min-width: 1210px) {
    .sec1 .top .logo {
        width: 60%;
    }
    .sec1 .coffilm div img {
        width: 45%;
        height: 100%;
    }
     .sec1 .coffilm {
        padding: 0 1%;
    }
    .sec1 .coffilm div {
        padding-bottom: 0;
    }

    section {
        padding: 10% 0;
    }
    h2 {
        font-size: 1.3rem;
    }
    .sub_title {
        font-size: 1.1rem;
    }
}