@charset "utf-8";

* { margin: 0; color:inherit;
    scroll-behavior: smooth;
    font-family: "Noto Sans JP", sans-serif; font-weight: 500; 
    transition: 0.3s; }

.flex { display: flex;}
.grid { display: grid;}

h3 {
    font-weight: 900;
}

h2 {
    font-weight: 900;
    font-size: 1.4rem;
    margin-bottom: 5px;
}

.sub_title {
    font-size: 1.1rem;
}

section {
    padding: 15% 8% 10%;
    flex-direction: column;
    gap: 10vw;
}

ul {
    padding-left: 12px;
}

li {
    word-break:normal;
    font-size: 0.9rem;
}

li::marker {
    content: "•  ";
    font-size: 0.9rem;
}

table {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 10px;
}

table th {
    text-align: right;
    padding-right: 10px;
    color: #fff;
}

table td {
    text-align: left;
}


/* navigation */

.quick_menu {
    justify-content: center;
    padding: 0;
    width: 96%;

    font-size: 0.9rem;
    background-color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    position: fixed;
    top:0;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0 0 10px 10px;
}

.quick_menu li {
    list-style: none;
    display: inline-block;
}

.quick_menu li a {
    display: block;
    text-decoration: none;
    font-weight: 800;
    padding: 13px 15px;
    font-size: 0.8rem;
    color:#000;
}

.quick_menu > li.active a {color: #fff000;}


/* top */

.sec1 {
    background-color: #d3d622;
}

.sec1 .top {
    flex-direction: column;
    gap: 8vw;
    align-items: center;
}

.sec1 .top .awards {
    justify-content: space-evenly;
}

.sec1 .top .logo {
    margin: 0 0 0 2vw;
    width: 70%;
}

.sec1 .top .awards img {
    width: 30%;
}


/* coffilm */

.sec1 .coffilm {
    gap: 8vw;
    text-align: center;
}

.sec1 .coffilm div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sec1 .coffilm .reverse {
    flex-direction: column-reverse;
}

.sec1 .coffilm div img {
    width: 70%;
}


/* bottom */

.sec1 .bottom {
    flex-direction: column;
    gap: 7vw;
}
.sec1 .bottom .paper h3 {
    padding-bottom: 10px;
}
.sec1 .bottom .paper img {
    display: block; margin-left: auto; margin-right: auto;
    padding: 5vw 0;
    width: 90%;
}
.sec1 .bottom .recycle img {
    display: block; margin-left: auto; margin-right: auto;
    padding: 5vw 0 3vw;
    width: 90%;
}


/* sec2 */

.sec2 {
    background-color: #00963D;
    height: 100vh;
}

.sec3 {
    background-color: #ffffff;
    height: 100vh;
}

.sec4 {
    background-color: #00963D;
    height: 100vh;
}



/* break point */

@media (min-width: 500px) {
    .sec1 .coffilm div {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sec1 .coffilm .reverse {
        flex-direction: row;
    }
    .sec1 .coffilm div img {
        width: 40%;
    }
    .sub_title {
        font-size: 1.3rem;
    }

    .quick_menu {
        justify-content: space-evenly;
    }
    .quick_menu li a {
        font-size: 1em;
    }
}

@media (min-width: 695px) {

    .sec1 .coffilm {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5vw;
    }
    .sec1 .coffilm div {
        flex-direction: column;
    }
    .sec1 .coffilm .reverse {
        flex-direction: column-reverse;
    }
    .sec1 .coffilm div img {
        width: 100%;
        height: 60%;
    }

    li {
        font-size: 1.1rem;
    }

    .quick_menu {
        justify-content: space-evenly;
        width: 80%;
        top:20px;
        font-size: 1rem;
        border-radius: 10px;    
    }
    .quick_menu li a {
        font-size: 1rem;
    }
    
}

@media (min-width: 850px) {
    .sec1 .coffilm div {
        justify-content: center;
    }
    .sec1 .coffilm div img {
        width: 90%;
    }
    .sec1 .bottom {
        flex-direction: row;
    }
    .sec1 .bottom .paper {
        width: 50%;
    }
    .sec1 .bottom .recycle {
        width: 50%;
    }
    .sec1 .bottom .paper img {
        width: 85%;
    }
    .sec1 .bottom .recycle img {
        width: 85%;
    }
    li {
        font-size: 0.9rem;
    }
}

@media (min-width: 1210px) {
    .sec1 .top .logo {
        width: 60%;
    }
    .sec1 .coffilm div {
        justify-content: left;
        flex-direction: row;
    }
    .sec1 .coffilm .reverse {
        flex-direction: row-reverse;
    }
    .sec1 .coffilm div img {
        width: 45%;
        height: 100%;
    }
    .sec1 .coffilm div div {
        padding: 0 0 0 20px;
    }
    .sec1 .coffilm {
        gap: 2vw;
        padding: 0 5%;
    }
    .sec1 .bottom {
        padding: 0 8%;
    }
    section {
        padding: 10% 0;
    }
    h2 {
        font-size: 1.3rem;
    }

    .sub_title {
        font-size: 1.1rem;
    }
}