@charset "utf-8";

* {padding: 0; margin: 0;}
a {text-decoration: none; color: #666;}
li {list-style: none;}

body {
  background-color: #d3d622;
}

#tab-menu {
  width: 100%;
  border-radius: 4px;
}
#tab-btn {
  position: fixed; left: 50%; top: 2%;
  transform: translatex(-50%);
  z-index: 99;
  backdrop-filter: blur(2px);
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 20px;
}
#tab-btn ul {
  overflow: hidden;
  padding: 0;
  justify-content: space-between;
}
#tab-btn li {
  float: left; width: 90px; text-align: center;
}
#tab-btn li::marker {
  content: "";
}
#tab-btn li a {
  display: block; color: #000000; 
  padding: 15px 20px; 
  font-weight: bold;
}
#tab-btn li a::before {
  content: "";
  width: 0%;
  height: 5px;
  background-color: #00963D;
}
#tab-btn li.active a {
  color: #00963D;
  position: relative;
}
#tab-btn li.active a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 40%;
  height: 4px;
  transition: 0.3s;
  background-color: #00963D;
}

#tab-btn li.active .white {
  color:#9DB509;
}
#tab-btn li.active .white::before {
  background-color: #9DB509;
}


#tab-cont {
  width: 100%;
  padding: 0 3%;
  box-sizing: border-box;
}

@media (min-width: 981px) {
  
}